header {
    background-color: darkgrey;
    width: 100%;
    text-align: center;
    height: 50px;
}
.sidebar {
    
    margin-top: 5px;
    background-color: black;
    height: 800px;
    width: 100%
}

nav {
    text-align: center;
    background-color: deepskyblue;
    width: 20.6%;
    height: 400px;
}

aside{
    text-align: center;
    margin-top: 5px;
    background-color: deepskyblue;
    width: 20.6%;
    height: 395px;

}

main {
    margin-top: 0;
    float: right;
    width: 79%;
    height: 800px;
    background-color: dodgerblue;
}
footer {
    background-color: aqua;

}
